/* Header Styles */
.header {
position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  padding: 0 20px 10px;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  box-shadow: 0 2px 4px #516b9829;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  height: 45px;
  transition: transform 0.3s ease-in-out;
}

.logoImage:hover {
  transform: scale(1.05);
}

/* Navigation */
.navLinks {
  display: flex;
  align-items: center;
}

.navLinks ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinks li {
  margin-left: 25px;
}

.link {
  text-decoration: none;
  color: #170a5a;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #1a237e;
  text-decoration: underline;
}

/* Logout Button */
.logoutButton {
  background: #d32f2f;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease-in-out;
}

.logoutButton:hover {
  background: #b71c1c;
}

/* Menu Button for Mobile */
.menuButton {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  width: 15%;
  color: orange;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: row;
    text-align: center;
    padding: 15px;
    /* width: 80%; */
  }
  .logoutButton {
    width: 20%;
  }

  .logoImage {
    height: 30px;
  }

  .menuButton {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
  }

  .navLinks {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .navLinks.open {
    display: flex;
  }

  .navLinks ul {
    flex-direction: column;
    width: 100%;
  }

  .navLinks li {
    margin: 10px 0;
  }

  .link {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 10px;
  }

  .logoImage {
    height: 35px;
  }

  .link {
    font-size: 14px;
  }
}
