/* Styles for the header component */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  padding: 0 20px 10px;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  box-shadow: 0 2px 4px #516b9829;
}

.logo {
  flex: 0;
}

.logoImage {
  height: 40px;
}

.navLinks {
  display: flex;
  justify-content: flex-end;
}

.navLinks ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.navLinks li {
  margin-left: 20px;
}

.link {
  text-decoration: none;
  color: rgb(23, 10, 90);
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  text-decoration: underline;
  color: #1a237e;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 15px 10px; /* Adjust padding on smaller screens */
    text-align: center;
   
  }

  .logoImage {
    height: 35px; /* Slightly reduce logo size on smaller screens */
  }

  .navLinks {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .navLinks ul {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .navLinks li {
    margin: 10px 0;
  }

  .link {
    font-size: 14px; /* Reduce font size for mobile devices */
  }
}

@media (max-width: 480px) {
  .header {
    padding: 10px 5px; /* Further reduce padding on very small screens */
  }

  .logoImage {
    height: 30px; /* Further reduce logo size */
  }

  .navLinks {
    margin-top: 8px;
  }

  .link {
    font-size: 13px; /* Further reduce font size for very small screens */
  }
}